<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278675995471-lu7bvu3cermom6avuu944ft0m13kgnma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278675995471-lu7bvu3cermom6avuu944ft0m13kgnma</string>
	<key>API_KEY</key>
	<string>AIzaSyBhqmnGW6lOAzB9jyT82QEqcsrO9oyzF6E</string>
	<key>GCM_SENDER_ID</key>
	<string>278675995471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Luis-Enrique-Camargo-Mendoza.MusicPlayer</string>
	<key>PROJECT_ID</key>
	<string>chat-app-demo-84800</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-demo-84800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278675995471:ios:0c225aee6ec338ac14233a</string>
</dict>
</plist>